.vscode/
.cache/
.tmp/
tasks/mllmteam*
build*/
install*/
temp/
.cspell/
pymllm.egg-info/
py-build-out/
stubs/
ncu-report/
docs/build/
_C.cpython-310-x86_64-linux-gnu.so
_C.cpython-312-x86_64-linux-gnu.so
__pycache__/
autotuner.log
.pkl_memoize_py3/
docs/xml/
docs/CppAPI
