[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "mllm/Backends/OpenCL/Vendors/OpenCL-Headers"]
	path = mllm/Backends/OpenCL/Vendors/OpenCL-Headers
	url = https://github.com/KhronosGroup/OpenCL-Headers
[submodule "mllm/Backends/Arm/Vendors/kleidiai"]
	path = mllm/Backends/Arm/Vendors/kleidiai
	url = https://git.gitlab.arm.com/kleidi/kleidiai.git
[submodule "mllm/Backends/CUDA/Vendors/cutlass"]
	path = mllm/Backends/CUDA/Vendors/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "mllm/Backends/X86/Vendors/highway"]
	path = mllm/Backends/X86/Vendors/highway
	url = https://github.com/google/highway
[submodule "mllm/Backends/CUDA/Vendors/cccl"]
	path = mllm/Backends/CUDA/Vendors/cccl
	url = https://github.com/NVIDIA/cccl.git
[submodule "mllm/Backends/Arm/Vendors/MobiAttn"]
	path = mllm/Backends/Arm/Vendors/MobiAttn
	url = https://github.com/chenghuaWang/MobiAttn
